#app {
    width: 100%;
    background-image: url("https://cdn.pixabay.com/photo/2016/01/20/11/54/book-wall-1151405_1280.jpg");
    background-color:rgba(255,255,255,0.4);
    background-blend-mode:lighten;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    min-height: 700px;
    height: auto;

} 

.footer {
    background:rgba(163, 151, 123, 0.9);
    height: 60px;
    margin-bottom: 0;
    width: 100%;
}


.footer-heading {
    line-height: 60px;
    font-size: 20px;
    color: black;
    padding-left: 175px;
    font-family: 'Ubuntu', sans-serif;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
}

.top-card-header {
  
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    background-color: wheat;
    border-radius: 100px;
}

.head-container {
    margin: 30px;
}


.post-card-header {
    text-align: center;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    background-color: wheat;
}


.post-name {
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    border-bottom: 2px solid black;
}

.post-button {
    color: white;
    width: 200px;
    height: 45px;
    line-height: 45px;
    background-color:#003300;
    border-radius: 50px;
    margin-top: 15px;
}

.post-title {
    padding-left: 50px;
    margin-bottom: 0;
}


.post-card-body {
  padding: 10px 20px;
  background-color:rgba(249, 244, 235, 1);
  /* min-height: 190px;
  height: auto; */
  height: 85%;
  border: 2px solid gainsboro;
}


.post-top {
    padding: 20px 20px;
}

.post-time {
    font-size: 12px;
}

.pagination { 
    margin-top: 15px;
    justify-content: center;
 }

 .post-comment-body {
    padding: 10px 20px;
     background-color:rgba(242, 242, 242, 0.2);
     min-height: 100px;
     height: auto;
 }
 .product {

    background-color:rgba(249, 244, 235, 1);
    border: 2px solid gainsboro;
    font-weight: bold;
 }

.product-step {
    width: 50%;
    margin: 0 auto;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    background-color:#003300;
    border-radius: 50px;
}

.product-box {
    height: 50%;
    background-color:rgba(249, 244, 235, 1);
}

.product-card-body {
    border: 10px solid gainsboro;
}


.sold-button {
    background-color:rgb(249, 37, 0);
    border: 3px solid gainsboro;
    color: white;
    border-radius: 25px;  
    width: 75%;
    padding-top: 13px;
    padding-bottom: 13px;
}

.unfavorite-button {
    background-color:white;
    border: 3px solid gainsboro;
    color: black;
    border-radius: 25px; 
    width: 75%;
    padding: 6px 0px;
}

.favorite-button {
    background-color:#003300;;
    border: 5px solid gainsboro;
    color: white;
    border-radius: 25px; 
    width: 75%; 
    padding: 6px 0px;
}



.product-category {
    margin-top: 10px;
    font-size: 15px;
}

.product-detail {
    color: black;
    background-color:gainsboro;  
    border-radius: 15px;  
}

.head-product-button {
    color: white;
    width: 125px;
    height: 100px;
    line-height: 100px;
    background-color:#003300;
    border: 5px solid gainsboro;
    border-radius: 30px;
    margin-right: 10px;
}


.head-buyer-button {
    color: white;
    width: 125px;
    height: 100px;
    line-height: 100px;
    background-color:#FF8C00;
    border: 5px solid gainsboro;
    border-radius: 30px;
    margin-left: 10px;
}

.profile {
    background-image: url("https://cdn.pixabay.com/photo/2015/12/03/08/50/paper-1074131_1280.jpg");
    background-color:rgba(255,255,255,0.4);
    background-blend-mode:lighten;
    border-radius: 20px;
}

img.nav-image {
    height:25px; 
    width:25px;
    border-radius: 50%;
    
}


img {
    object-fit: cover;
}

.product-card-body img {
    height: 210px;
    width: 110%;

}


.search-mark {
    position: absolute;
    top: 30px;
    left: 170px;
}

.sold-out-show {
    width: 50%;
    font-weight:bold;
}

.buyer-button-show {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
    font-weight:bold;
}









@media screen and (max-width:639px) {

    .footer-heading {
        padding-left: 30px;
    }
    
    img {
        object-fit: cover;
    }
    

    .card-body {
        width:100%;
    }
   
    /*スマホ用のcssを記述*/
    .input-text {
        font-size: 10px;
        text-align: center;
    }

    .product-step {
        width:100%;
        font-size: 7px;
        color: white;
        font-family: 'Ubuntu', sans-serif;
        background-color:#003300;
        border-radius: 50px;
    }

    textarea.introduction {
        height: calc( 2em * 10 );
    }

    .post-create-text{
        font-size: 10px;
    }


    .post-comment-icon {
        float: right;
    }

    .post-name {
        font-size: 10px;
    }

    .comment-icon {
        width:40%;
        height:80%

    }

    .post-title {
        font-size: 13px;
    }

    .post-time {
        font-size: 8px;
    }

    .post-image {
        padding-left: 5px;
        width:20%;
        height:50%;
    }

    h5.button {
        font-size: 10px;
    }

    a.button {
        font-size: 10px;
    }

    div.card.p-2 {
        height: 100%;
    }

    .post-index {
        padding: 5px 0px;
        width: 100%;
    }

    .products-card-body {
        margin: 9px;
    }


    .product-card-body img {
        height: 80px;
        width: 100%;
    
    }




    .search-mark {
        width: 35px;
        position: absolute;
        top: 30px;
        left: 115px;
    }

    .head-product-button {
        color: white;
        width: 55px;
        height: 55px;
        line-height: 55px;
        background-color:#003300;
        padding-left: 0px;
        border-radius: 10px;
        font-size: 11px;
       
    }
    
    
    .head-buyer-button {
        color: white;
        width: 55px;
        height: 55px;
        line-height: 55px;
        background-color:#FF8C00;
        border-radius: 10px;
        font-size: 11px; 
    }

    .search-text {
        font-size: 8px;
    }


    .search-form {
        text-align: center;
    }

    .head-button {
        margin-left: 20px;
        margin-top: 18px;
    }

    .head-button2 {

        margin-top: 18px;
    }

    .mini-card {
        padding: 0px;
    }

    .product-card-body {
        width: 120px;
    }

    .sold-button {
        font-size: 10px;
        width: 80px;

    }

    .unfavorite-button {
       
        font-size: 10px;
        width: 100px;
    }
    
    .favorite-button {
       
        font-size: 10px;
        width: 100px;
    }
    

    .product-card-body {
        border: 3px solid gainsboro;
    }

    .product-box {
        height: 100%;
        background-color:rgba(249, 244, 235, 1);
    }

    .product-category {
        margin-top: 10px;
        font-size: 7px;
    }

    .product-name-index {
        font-size: 14px;
        color:black;
    }
    .product-price-index {
        font-size: 13px;
    }

    .table {
        font-size: 10px;
    }
    
    .product-time {
        font-size: 12px;
    }

    .product-introduction {
        font-size: 14px;
    
    }

    .back-button {
        font-size: 10px;
    }
    .product-delete-button {
        margin-right: 5px;
    }

    .sold-out-show {
        width: 100%; 
    }

    .buyer-button-show {
        width: 200px; 
    }

    .product-edit-button {
       padding: 2px;
    }
    
    .intro-col {
        padding-right: 0px;
    }

    .ask-alert {
        font-size: 12px;
    }

    .profile-body {
        margin: 0px;
    }


    .profile {
        text-align: center;
        width: 100%;
        height: 100%;
        margin-right:0px;
    }

    .profile-text {
        margin-top:10px;
    }

    .product-username-index {
        text-align: left;
       font-size: 10px;
    }


    }

